*, *::after, *::before {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 70%;
    max-width: 400px;
    border: 1px solid hsl(0, 0%, 75%);
    padding: 2rem 1rem;
}

form > * {
    margin: 0.5rem 0 0;
    width: 100%;
    font-size: 1rem;
}

.error {
    color: red;
    font-size: 0.815rem;
    margin: 0.25rem 0 0.5rem;
}

input {
    padding: 0.5rem;
}

#submit {
    width: fit-content;
}

.hide {
    visibility: hidden;
}

.navigator {
    float: right;
    width: fit-content;
}

a {
    text-decoration: none;
    color: hsl(201, 100%, 50%);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: large;
}

#captcha {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border: 1px solid hsl(0, 0%, 75%);
    width: fit-content;
    padding: 1rem;
    font-weight: 700;
    font-style: oblique;
    text-decoration: line-through;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.25rem;
}

.captcha-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
    .captcha-input {
        margin-top: 1rem;
    }
}

button {
    cursor: pointer;
}